<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
	</head>
	<body>
		<% include partials/header %>
		<% include partials/navbar %>

    <section>
    <% include partials/searchEstudiantes %>
        <div class="center-align loading">
            <% include partials/loader %>
        </div>
        <div id="main-info">
            <div class="row row_card_info_b">
                <div class="col s3 m3 l3">
                    <div class="card">
                        <div class="card-content center-align">
                            <img class="responsive-img" id="image_info" src="../../img/images/<%= imagen  %>">
                        </div>
                        <div class="card-tabs">
                            <ul class="tabs tabs-fixed-width">
                                <li class="tab">
                                    <a class="active info_person tooltipped" data-position="bottom" data-delay="50" data-tooltip="Información Básica" href="#informacion_basica1">IB</a>
                                </li>
                                <li class="tab">
                                    <a class="info_person tooltipped" data-position="bottom" data-delay="50" data-tooltip="Otros Datos" href="#informacion_basica2">OD</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-content grey lighten-4">
                            <div id="informacion_basica1">
                                <p class="ib"><b>Nombre: </b><span class="capi"><%= nombre %></span></p>
                                <p class="ib"><b>Apellido: </b><span class="capi"><%= apellido %></span></p>
                            </div>
                            <div id="informacion_basica2">
                                <p class="ib"><b>Tipo de Sangre: </b><span class="mayus"><%= sangre %></span></p>
                                <p class="ib"><b>Estado: </b><span class="mayus"><%= estado %></span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mas informacion -->
                <div class="col s12 m4 l4">
                    <div>
                        <h4 class="title_info">Más información de <span class="capi nombreInfo"><%= nombre %></span></h4>
                    </div>
                    <table class="z-depth-1 highlight responsive-table">
                        <thead>
                            <tr>
                                <th class="head_info tooltipped" data-position="top" data-delay="50" data-tooltip="Información Personal">INFO P</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="columnas_tablas">
                                <td class="content_info">
                                    <b>Fecha de Nac</b>
                                </td>
                                <td class="content_info"><%= fechaNac %></td>
                            </tr>
                            <tr class="columnas_tablas">
                                <td class="content_info">
                                    <b>Edad</b>
                                </td>
                                <td class="content_info"><%= edad %></td>
                            </tr>
                            <tr class="columnas_tablas">
                                <td class="content_info">
                                    <b>Nacionalidad</b>
                                </td>
                                <td class="content_info"><span class="capi"><%= nacionalidad %></span></td>
                            </tr>
                            <tr class="columnas_tablas">
                                <td class="content_info">
                                    <b>Lugar de Nac</b>
                                </td>
                                <td class="content_info"><span class="capi"><%= lugarNacimiento %></td>
                            </tr>
                            <tr class="columnas_tablas">
                                <td class="content_info">
                                    <b>Residencia</b>
                                </td>
                                <td class="content_info"><span class="capi"><%= residencia %></span></td>
                            </tr>
                            <tr class="columnas_tablas">
                                <td class="content_info">
                                    <b>
                                        <img src="../../img/icon/icon_app/phone.svg" alt="phone">
                                    </b>
                                </td>
                                <td class="content_info"><%= celular %> | <%= telResidencial %></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="contacto">
                        <div>
                            <h5 class="title_info">Contactos</h5>
                        </div>
                        <div class="col s12 m12 l12 z-depth-1 center-align">
                            <img class="redes_sociales tooltipped" data-position="bottom" data-delay="50" data-tooltip="Github" src="../../img/icon/icon_app/github.svg"
                            alt="github">
                            <img class="redes_sociales tooltipped" data-position="bottom" data-delay="50" data-tooltip="Slack" src="../../img/icon/icon_app/slack.svg"
                            alt="slack">
                            <img class="redes_sociales tooltipped" data-position="bottom" data-delay="50" data-tooltip="Instagram" src="../../img/icon/icon_app/instagram.svg"
                            alt="instagram">
                            <img class="redes_sociales tooltipped" data-position="bottom" data-delay="50" data-tooltip="Twitter" src="../../img/icon/icon_app/twitter.svg"
                            alt="twitter">
                            <img class="redes_sociales tooltipped" data-position="bottom" data-delay="50" data-tooltip="Facebook" src="../../img/icon/icon_app/facebook.svg"
                            alt="facebook">
                            <img class="redes_sociales tooltipped" data-position="bottom" data-delay="50" data-tooltip="Email" src="../../img/icon/icon_app/mail.svg"
                            alt="email">
                        </div>
                    </div>
                </div>

                <!-- Informacion estudiantil -->
                <div class="col s12 m5 l5">
                    <div>
                        <h4 class="title_info">Información Estudiantil</h4>
                    </div>
                    <table class="z-depth-1 highlight responsive-table">
                        <thead>
                            <tr>
                                <th class="head_info tooltipped" data-position="top" data-delay="50" data-tooltip="Información por parte de la institución">INFO I</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="columnas_tablas">
                                <td class="content_info">
                                    <b>Matrícula</b>
                                </td>
                                <td class="content_info"><span class="mayus"><%= matricula %></span></td>
                            </tr>
                            <tr class="columnas_tablas">
                                <td class="content_info">
                                    <b>Estado civil</b>
                                </td>
                                <td class="content_info"><span class="capi"><%= estadoCivil %></span></td>
                            </tr>
                            <tr class="columnas_tablas">
                                <td class="content_info">
                                    <b>Genero</b>
                                </td>
                                <td class="content_info"><span class="capi"><%= genero %></span></td>
                            </tr>
                            <tr class="columnas_tablas">
                                <td class="content_info">
                                    <b>Carrera</b>
                                </td>
                                <td class="content_info"><span class="capi"><%= carrera %></span></td>
                            </tr>
                            <tr class="columnas_tablas">
                                <td class="content_info">
                                    <b>Materias cursando</b>
                                </td>
                                <td class="content_info"><span class="capi"><%= materiasCursando %></span></td>
                            </tr>
                            <tr class="columnas_tablas">
                                <td class="content_info">
                                    <b>Tanda</b>
                                </td>
                                <td class="content_info"><span class="mayus"><%= tanda %></span></td>
                            </tr>
                                <tr class="columnas_tablas">
                                <td class="content_info">
                                    <b>Estado</b>
                                </td>
                                <td class="content_info"><span class="capi"><%= estadoCivil %></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row z-depth-0 opciones right-align">
                        <div class="col s6 m6 l6 push-s2 push-m2 push-l2">
                            <a href="/actualizar/<%= id %>" class="eliminar waves-effect waves-light btn blue">Actualizar</a>
                        </div>
                        <div class="col s6 m6 l6">
                            <a class="eliminar waves-effect waves-light btn red modal-trigger" href="#modal1">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		  <!-- Modal Structure -->
		  <div id="modal1" class="modal modal-fixed-footer">
			<div class="modal-content">
			  <div class="row">
					<div class="col s12 center-align">
						<h5 class="advertencia">¿En realidad desea eliminar a <span class="nombreDelete red white-text z-depth-1"><%= nombre %></span> ?</h5>
					</div>
			  </div>
			  	<div class="row">
			  		<div class="col s6 center-align">
				  		<h6><span class="dialogDelete">Presione</span> "Sí", <span class="dialogDelete">para eliminar</span></h6>
					</div>
					<div class="col s6 center-align">
						<h6><span class="dialogDelete">Presione</span> "No", <span class="dialogDelete">para no eliminar</span></h6>
			  		</div>
		  		</div>
			  <div class="row rowDelete center-align">
				  <div class="col s12">
					  <img class="imagenDelete" src="./../img/images/imagesApp/delete.png" alt="delete">
				  </div>
			  </div>
			</div>
				<div class="modal-footer">
					<a href="/delete/<%= nombre %>" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="Materialize.toast('¡<%= nombre %>, ha sido sacado del sistema!', 1000)">Sí</a>
					<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">No</a>
				</div>
		  </div>
    </section>
		<% include partials/scripts %>
	</body>
</html>
